.cc{
    background-color: gray;
    height: 50px;
}
.left{
    height: 50px;
    width: 210px;
    /* background-color: firebrick; */
    float: left;
    padding-left:300px;
    padding-top:8px;
}
.right{
    height: 50px;
    width: 720px;
    /* background-color: black; */
    float: right;
    padding-top: 13px;
}